.rating-container {
  display: inline-flex;
}

.star {
  color: #ccc;
  font-size: 2em;
  padding: 0.1em;
  cursor: pointer;
}

.star.full {
  color: gold;
}

.star.half::before {
  content: "\f089";
  color: gold;
  position: absolute;
}
